<div class="container">
  <h1>Roll the Dice</h1>
  <p>Wager vs. Nobody</p>

  <form method="post" action="/rolls">
    <input type="submit" value="Roll the Die">
  </form>

  <div id="die">
  </div>

</div>
